.movieContainer{
    text-align: center;
    width:100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    div{
        text-align: center;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
}