.collectionPreview{
    max-width: 75%;
    margin-bottom: 30px;
    // border-style: solid;
    // border-color: black;
    // border-width: 1px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;

    
}